---
// Assets
import { Image } from "astro:assets";
import AboutImage2 from "@/images/avatar2.jpeg";
import Avatar1 from "@/images/avatar1.jpeg";
import AdamHeadshot from "@/images/adam-headshot.jpeg";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const operations = [
  {
    term: "Cash matters",
    description:
      "Each team member in the Funky Collective is worth a princely 2900 USD Dollars per hour. We're no fans of discounts for junior champs, though!",
  },
  {
    term: "All in",
    description:
      "Our minimum deal kicks off at a whopping 100,000 USD Dollars. We're like relationship builders, not your everyday freelancers.",
  },
  {
    term: "Time is money",
    description:
      "We put in the grind for four days a week, reserving the other trio for thrilling outdoor escapades and indulging in some top-notch family theatrics.",
  },
  {
    term: "Jetsetters",
    description:
      "We're remote workers, so we can team up with you whether you're chilling in a hammock or scaling a mountain. Distance is just a number, right? Learn more",
  },
];
const culture = [
  {
    term: "Humans",
    description:
      "We're all about cooking up design experiences that last longer than your average sitcom binge-watching session. If you're all about quality that stands the test of time and have a sense of purpose as sharp as a chef's knife, we're your kind of people.",
  },
  {
    term: "Earth",
    description:
      "Yep, the internet gobbles up more energy than a famished T-Rex at an all-you-can-eat buffet. Can you believe it? Turns out, 3.8% of the world's carbon footprint is on the internet's tab. So, we're here to whip up brand and digital goodies that not only look cool but also help in giving Mother Earth a much-needed breather.",
  },
];
const social = [
  {
    platform: "YouTube",
    link: "#_",
  },
  {
    platform: "X",
    link: "#_",
  },
  {
    platform: "Instagram",
    link: "#_",
  },
  {
    platform: "Dribbble",
    link: "#_",
  },
];
const stats = [
  {
    count: 100,
    display: "100+",
    label: "Awwwards",
    color: "text-yellow-300",
  },
  {
    count: 20,
    display: "20 million",
    label: "Social media followers",
    color: "text-pink-500",
  },
  {
    count: 500,
    display: "500+",
    label: "Global customers",
    color: "text-base-500",
  },
];
---

<section class="bg-base-50 overflow-hidden relative">
  <Wrapper variant="standard" class="py-24">
    <div class="max-w-xl">
      <div class="relative max-w-xs">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-accent-300"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="bg-base-50 pr-2 text-sm text-accent-500 font-medium"
            >About GenZen</span
          >
        </div>
      </div>
      <Text
        tag="h2"
        variant="displayLG"
        class="tracking-tight font-display text-accent-800 mt-12 text-balance"
      >
        This is who we really are as an agency.
      </Text>
      <Text tag="p" variant="textBase" class="text-accent-500 mt-8 text-balance">
        Your new partners in design crime, except without the masks and capes.
        We're the cool cats behind digital design and brand wizardry, spreading
        our magic across the world.
        <br />
        <br />
        Why Outkast, you ask? Well, we couldn't resist the call of the design universe.
        We're not your average office crowd – more like a bunch of design rebels
        on the loose. We've got this awesome network of talented folks and studios
        we team up with whenever we need to rock the design stage.
        <br />
        <br />
        Think of us as the ultimate design dream team, minus the spandex. From crafting
        brand vibes to sprinkling digital fairy dust, we're the jack-of-all-trades.
        We handle everything from nifty industrial designs to vintage print charm
        to apps that are so slick, they might just steal your heart.
        <br />
        <br />
        But here's the kicker – we're not about quick fixes. We're all about creating
        designs that stand the test of time, not just one-hit wonders. So if you're
        ready to dive into a world of design awesomeness, give us a shout!
      </Text>
    </div>
  </Wrapper>
</section>
<section class="bg-base-50 overflow-hidden relative">
  <Wrapper variant="standard" class="py-24">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-start">
      <div class="max-w-2xl">
        <div class="relative max-w-xs">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-accent-300"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="bg-base-50 pr-2 text-sm text-accent-500 font-medium"
              >About Adam</span
            >
          </div>
        </div>
        <Text
          tag="h2"
          variant="display2XL"
          class="tracking-tight font-display text-accent-800 mt-12 text-balance"
        >
          We're all about the fun.
        </Text>
        <dl class="flex flex-col gap-12 mt-12">
          {
            culture.map((item) => (
              <div>
                <dt>
                  <Text
                    tag="h3"
                    variant="textXL"
                    class="font-display text-accent-900"
                  >
                    {item.term}
                  </Text>
                </dt>
                <dd>
                  <Text
                    tag="p"
                    variant="textBase"
                    class="text-accent-500 mt-4 text-pretty"
                  >
                    {item.description}
                  </Text>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      <div class="relative lg:mt-24">
        <Image
          src={AdamHeadshot}
          alt="Adam King - Founder"
          width={480}
          height={600}
          class="rounded-2xl object-cover aspect-[4/5] w-full"
        />
      </div>
    </div>
  </Wrapper>
</section>
<section class="bg-base-50 overflow-hidden relative">
  <Wrapper variant="standard" class="py-24">
    <div class="w-full max-w-xl">
      <div class="relative max-w-xs">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-accent-300"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="bg-base-50 pr-2 text-sm text-accent-500 font-medium"
            >Operations</span
          >
        </div>
      </div>
      <Text
        tag="h2"
        variant="displayLG"
        class="tracking-tight font-display text-accent-800 mt-12 text-balance"
      >
        Operations, we're the funky collective.
      </Text>
      <dl class="grid gap-12 lg:grid-cols-2 mt-12">
        {
          operations.map((item) => (
            <div>
              <dt>
                <Text
                  tag="h3"
                  variant="textXL"
                  class="font-display text-accent-900 "
                >
                  {item.term}
                </Text>
              </dt>
              <dd>
                <Text
                  tag="p"
                  variant="textBase"
                  class="text-accent-500 mt-4 text-pretty"
                >
                  {" "}
                  {item.description}
                </Text>
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </Wrapper>
</section>
